<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="./styles/login.css">
    <link rel="stylesheet" href="./styles/general.css">

    <title>Local Dungeon New Account</title>
</head>
<body>
<div class="sidenav">
    <div class="login-main-text">
        <a href="./"><img src="./images/blue_80s_action_logo.png" height="158" width="598"/></a>
        <h2 class="pb-3">Account Creation Page</h2>
        <p class="mb-1">Registered users can:</p>
        <ul>
            <li>Register for events</li>
            <li>Create a new event</li>
            <li>View their registered events</li>
            <li>Use event chat rooms</li>
        </ul>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form method="post">
                <div class="form-group">
                    <label>User Name<em>*</em></label>
                    <input type="text" class="form-control" placeholder="User Name" id="username" name="username"
                    <F3:check if="{{ @username }}">
                        value="{{ @username }}"
                    </F3:check>>
                    <F3:check if="{{ @errors['username'] }}">
                        <div class="err">{{ @errors['username'] }}</div>
                    </F3:check>
                </div>
                <div class="form-group">
                    <label>Password<em>*</em></label>
                    <input type="password" class="form-control" placeholder="Password" id="password" name="password"
                    <F3:check if="{{ @password }}">
                        value="{{ @password }}"
                    </F3:check>>
                    <F3:check if="{{ @errors['password'] }}">
                        <div class="err">{{ @errors['password'] }}</div>
                    </F3:check>
                </div>
                <div class="form-group">
                    <label>Confirm Password<em>*</em></label>
                    <input type="password" class="form-control" placeholder="Password"
                       id="passwordConfirm" name="passwordConfirm"
                    <F3:check if="{{ @passwordConfirm }}">
                        value="{{ @passwordConfirm }}"
                    </F3:check>>
                    <F3:check if="{{ @errors['passwordconfirm'] }}">
                        <div class="err">{{ @errors['passwordconfirm'] }}</div>
                    </F3:check>
                </div>
                <div class="text-center">
                    <button type="submit" name="submit" value="Submit"
                            class="btn btn-primary w-100 ">Create Account
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<include href="views/footer.html">
</body>
</html>
