<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/general.css">

    <title>Create an Event</title>
</head>
<body>
<div class="container-fluid main mb-5">
    <include href="views/header.html">
        <div class="container mb-5">
            <div class="jumbotron jumbotron-fluid bg-transparent text-center">
                <div class="container">
                    <h1 class="display-2"><b>Create an Event</b></h1>
                </div>
            </div>
            <form action="#" method="post">
            <fieldset class="form-group">
                <div class="row">
                    <legend>Game Information</legend>
                    <!--row for first,middle and last name-->
                    <div class="form-group col-sm-12 col-md-4">
                        <label for="eventName"> Event Name<em>*</em> </label>
                        <input type="text" class="form-control general" name="eventName" id="eventName"/>
                        <span class="err" id="err-ename">
                            Please enter your event name</span>
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="gameType"> Game<em>*</em> </label>
                        <select class="form-control general" name="gameType" id="gameType">
                            <option value="none">-- Select a Game --</option>
                            <F3:repeat group="{{ @games }}" value="{{ @game }}">
                                <option value="{{ @game['game_id'] }}">{{ @game['game_name'] }}</option>
                            </F3:repeat>
                        </select>
                        <span class="err" id="err-gtype">
                            Please select your game type</span>
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label for="eventGenre"> Genre<em>*</em> </label>
                        <select class="form-control general" name="eventGenre" id="eventGenre">
                            <option value="none">-- Select a Genre --</option>
                            <F3:repeat group="{{ @genres }}" value="{{ @genre }}">
                                <option value="{{ @genre['genre_id'] }}">
<!--                                <F3:check if="{{ @SESSION['filter'] == @genre['genre_id'] }}">-->
<!--                                    selected="selected"-->
<!--                                </F3:check>-->
                                {{ @genre['genre_name'] }}</option>
                            </F3:repeat>
                        </select>
                        <span class="err" id="err-genre">
                            Please select your game type</span>
                    </div>
                </div>
                <div class="row">
                    <legend>Event Location</legend>
                    <div class="form-group col-sm-6 col-md-3">
                        <label for="zip"> Zipcode<em>*</em> </label>
                        <input type="text" class="form-control general" name="zip" id="zip">
                        <span class="err" id="err-zip">
                            Please enter a valid zipcode</span>
                    </div>
                    <div class="form-group col-sm-6 col-md-3">
                        <label for="city"> City<em>*</em> </label>
                        <input type="text" class="form-control general" name="city" id="city">
                        <span class="err" id="err-city">
                            Please enter a city</span>
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                        <label for="street"> Street<em>*</em> </label>
                        <input type="text" class="form-control general" name="street" id="street">
                        <span class="err" id="err-street">
                            Please a street address</span>
                    </div>
                </div>
                <div class="row">
                    <legend>Event Time</legend>
                    <div class="form-group col-sm-3 col-md-3">
                        <label for="datetime">Date & Time<em>*</em></label>
                        <input type="datetime-local" class="form-control general" id="datetime" name="datetime">
                    </div>
                </div>
                <div class="row">
                    <legend>Event Information</legend>
                    <div class="form-group col-sm-12 col-md-6">
                        <label for="eventDescription"> Event Description<em>*</em> </label>
                        <textarea class="w-100 h-75 rounded" name="eventDescription" id="eventDescription"></textarea>
                    </div>
                    <div class="form-group col-sm-9 col-md-3">
                        <label for="eventTags"> Event Tags<em>*</em> </label>
                        <div class="border rounded">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Ex. pizza" aria-label="tag-search">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">Add</button>
                                </div>
                            </div>
                            <div class="m-3" id="eventTags">
                            <repeat group="{{ @tags }}" value="{{ @tag }}">
                                <label><input type="checkbox" name="tag[]" value="{{@tag['tag_id']}}">{{@tag['tag_name']}}
                                </label><br>
                            </repeat>
<!--                                <label><input type="checkbox" value="43" checked> pizza</label><br>-->
<!--                                <label><input type="checkbox" value="89" checked> drinks</label><br>-->
<!--                                <label><input type="checkbox" value="6" checked> dnd</label><br>-->
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-3 col-md-3">
                        <label for="eventCapacity"> Event Capacity<em>*</em> </label>
                        <input type="number" class="form-control" placeholder="Ex. 3"
                               name="eventCapacity" id="eventCapacity" min="0">
                    </div>
                </div>
            </fieldset>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn-primary rounded w-75" type="submit">Create Event</button>
            </div>
        </div>
        </form>
</div>
<include href="views/footer.html">
</body>
</html>