<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Local Dungeons</title>
</head>
<body>
<div class="container-fluid main">
    <include href="views/header.html">
    <div class="jumbotron jumbotron-fluid rounded">
        <div class="container text-center">
            <!--            <h1 class="display-4">Local Dungeons</h1>-->
            <img src="./images/large_blue_80s_action_logo.png" height="25%" width="75%" alt="Local Dungeons logo"/>
            <h2 class="pt-3">Find your next game faster.</h2>
        </div>
    </div>
    <form action="#" method="post">
        <div class="input-group container mb-3">
            <h3 class="pr-3 form-check-label">Search Games</h3>
            <select id="gameSearch" name="gameSearch" class="form-control mr-3">
                <option value="none">-- Select a Game --</option>
                <F3:repeat group="{{ @games }}" value="{{ @game }}">
                    <option value="{{ @game['game_id'] }}">{{ @game['game_name'] }}</option>
                </F3:repeat>
            </select>
            <input type="text" class="form-control rounded mr-3" placeholder="City, Ex. Auburn"
                   aria-label="Find a city" id="citySearch" name="citySearch">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary rounded"  id="search-button">Search</button>
            </div>
        </div>
    </form>
    <div class="container text-center mt-5 pt-5">
        <h3>About</h3>
        <p>Local Dungeons is a website aimed at letting people find games and events nearby.
            <br>We create the opportunity for new people to join communities that share the same interests in games.</p>
    </div>
    <include href="views/footer.html">
</body>
</html>