<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/general.css">

    <title>Local Dungeons - Profile</title>
</head>
<body>
<F3:include href="views/header.html"/>
<div class="container main">
    <div class="jumbotron jumbotron-fluid bg-transparent text-center">
        <div class="container">
            <h1 class="display-2"><b>My Account</b></h1>
        </div>
    </div>
    <div class="container w-75">
        <p>Username: <u>{{ @SESSION['username'] }}</u></p>
        <form action="#" method="post">
            <p>Password: </p>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">New Password</span>
                </div>
                <input type="password" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-default" id="password" name="password">
                <div class="input-group-prepend">
                    <span class="input-group-text">Confirm Password</span>
                </div>
                <input type="password" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-default" id="passwordConfirm" name="passwordConfirm">
            </div>
            <F3:check if="{{ @errors['password'] }}">
                <div class="err">{{ @errors['password'] }}</div>
            </F3:check>
            <F3:check if="{{ @errors['passwordconfirm'] }}">
                <div class="err">{{ @errors['passwordconfirm'] }}</div>
            </F3:check>
            <button class="btn btn-primary center" type="submit">Update Info</button>
        </form>
    </div>
</div>
<F3:include href="views/footer.html"/>
</body>
</html>