<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>My Events</title>
</head>
<body>
<div class="container-fluid main mb-5">
    <include href="views/header.html">
    <div class="container mb-5">
        <div class="jumbotron jumbotron-fluid bg-transparent text-center">
            <div class="container">
                <h1 class="display-2"><b>My Events</b></h1>
            </div>
        </div>
        <h4>Attending</h4>
        <F3:repeat group="{{ @attend }}" value="{{ @event }}">
            <div class="container mb-5">
                <a href="./event/"><h3><u>{{ @event->getEventName() }}</u> - {{@event->getDate() }}</h3></a>
                <div class="form-inline">
                    <p class="pr-3 border-right">{{ @event->getZip() }}</p>
                    <p class="pr-3 pl-3 border-right">{{ @event->getCity() }}</p>
                    <p class="pr-3 pl-3">TODO: POST AGO</p>
                </div>
                <div>
                    <p>{{ @event->getNotes() }}</p>
                </div>
                <div class="form-inline">
                    <F3:repeat group="{{@event->getTags()}}" value="{{ @tag }}">
                        <button class="btn-outline-primary rounded p-1 pr-2 mr-2">&#8226; {{ @tag }}</button>
                    </F3:repeat>
                </div>
            </div>
        </F3:repeat>
<!--        <h4>Attending</h4>-->
<!--        <F3:repeat group="{{ @attended }}" value="{{ @event }}">-->
<!--            <div class="container mb-5">-->
<!--                <a href="./event/"><h3><u>{{ @event->getEventName() }}</u> - {{@event->getDate() }}</h3></a>-->
<!--                <div class="form-inline">-->
<!--                    <p class="pr-3 border-right">{{ @event->getZip() }}</p>-->
<!--                    <p class="pr-3 pl-3 border-right">{{ @event->getCity() }}</p>-->
<!--                    <p class="pr-3 pl-3">TODO: POST AGO</p>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <p>{{ @event->getNotes() }}</p>-->
<!--                </div>-->
<!--                <div class="form-inline">-->
<!--                    <F3:repeat group="{{@event->getTags()}}" value="{{ @tag }}">-->
<!--                        <button class="btn-outline-primary rounded p-1 pr-2 mr-2">&#8226; {{ @tag }}</button>-->
<!--                    </F3:repeat>-->
<!--                </div>-->
<!--            </div>-->
<!--        </F3:repeat>-->
</div>
<include href="views/footer.html">
</body>
</html>